/*
		Project:		DocMan
		Module:			
		Description:	
		Author:			Martin Gäckler
		Address:		Hofmannsthalweg 14, A-4030 Linz
		Web:			https://www.gaeckler.at/

		Copyright:		(c) 1988-2024 Martin Gäckler

		This program is free software: you can redistribute it and/or modify  
		it under the terms of the GNU General Public License as published by  
		the Free Software Foundation, version 3.

		You should have received a copy of the GNU General Public License 
		along with this program. If not, see <http://www.gnu.org/licenses/>.

		THIS SOFTWARE IS PROVIDED BY Martin Gäckler, Austria, Linz ``AS IS''
		AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
		TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
		PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE AUTHOR OR
		CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
		SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
		LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF
		USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
		ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
		OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
		OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
		SUCH DAMAGE.
*/

/* --------------------------------------------------------------------- */
/* ----- includes ------------------------------------------------------ */
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* ----- constants ----------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* ----- icons --------------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* ----- bitmaps ------------------------------------------------------- */
/* --------------------------------------------------------------------- */

SPLASH_BITMAP			BITMAP	"splash.bmp"
FOLDER_BITMAP			BITMAP	"folder.bmp"
REMOTE_FOLDER_BITMAP	BITMAP	"remote_folder.bmp"
PERSONAL_FOLDER_BITMAP	BITMAP	"personal_folder.bmp"
PERSONAL_TRASH_BITMAP	BITMAP	"trash.bmp"
BOOKMARK_FOLDER_BITMAP	BITMAP	"bookmark_folder.bmp"
SYNC_FOLDER_BITMAP		BITMAP	"sync_folder.bmp"
SOURCE_FOLDER_BITMAP	BITMAP	"source_folder.bmp"
RELEASE_FOLDER_BITMAP	BITMAP	"release_folder.bmp"
FOLDER_REF_BITMAP		BITMAP	"ref.bmp"
ROOT_BITMAP				BITMAP	"root.bmp"
TASKLIST_BITMAP			BITMAP	"tasklist.bmp"
TASK_BITMAP				BITMAP	"task.bmp"
ALIAS_BITMAP			BITMAP	"alias.bmp"
RESERVED_BITMAP			BITMAP	"reserved.bmp"
FILE_BITMAP				BITMAP	"file.bmp"
CRYPTO_FILE_BITMAP		BITMAP	"crypto_file.bmp"
LANGUAGE_DOC_BITMAP		BITMAP	"language_doc.bmp"
WEB_FOLDER_BITMAP		BITMAP	"web_folder.bmp"
WEB_MENU_FOLDER_BITMAP	BITMAP	"menu_folder.bmp"
TEMPLATE_FOLDER_BITMAP	BITMAP	"template_folder.bmp"
XSLT_FOLDER_BITMAP		BITMAP	"xslt_folder.bmp"
COMPANY_FOLDER_BITMAP	BITMAP	"company_folder.bmp"
TEST_FOLDER_BITMAP		BITMAP	"TestFolder.bmp"
TEST_EXEC_FOLDER_BITMAP	BITMAP	"TestExecFolder.bmp"

/* --------------------------------------------------------------------- */
/* ----- cursors ------------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* ----- menus --------------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* ----- dialogs ------------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* ----- string tables ------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* ----- accelerators -------------------------------------------------- */
/* --------------------------------------------------------------------- */


